<div class="col-sm-12">
  <div markdown="1">

   <h1>Courses Offered by Database Lab Faculty</h1>

    <h3>Graduate Courses</h3>
    <ul>
      {% for course in site.data.courses%}
      {% if course.level == 'graduate' %}
        <li><a href="{{course.link}}">{{course.code}}</a>: {{course.name}}</li>
      {% endif %}
    {% endfor %}
    </ul>

    <h3>Undergraduate Courses</h3>
    <ul>
      {% for course in site.data.courses%}
      {% if course.level == 'undergraduate' %}
        <li><a href="{{course.link}}">{{course.code}}</a>: {{course.name}}</li>
      {% endif %}
    {% endfor %}
    </ul>

    <h3>Seminars</h3>
    <ul>
      {% for course in site.data.courses%}
      {% if course.level == 'seminar' %}
        <li><a href="{{course.link}}">{{course.code}}</a>: {{course.name}}</li>
      {% endif %}
    {% endfor %}
    </ul>
  </div>
</div>
