<div class="col-sm-12">

<h2>Diversity and Inclusion in Database Conference Venues</h2>

<p align="justify">
  The Data Management community is committed to the promotion of diversity and inclusion in all aspects of our professional activities.
  We celebrate the diversity in our community and welcome everyone regardless of age, gender identity, race, ethnicity, socioeconomic background,
  country of origin, religion, sexual orientation, physical ability, education, and work experience. We also welcome people and opinions
  of all political persuasions, as long as they abide by the <a href=https://www.acm.org/about-acm/policy-against-harassment>ACM policy against harassment</a>.
  Our initiative coordinates D&I efforts across the data management community and includes this year’s D&I chairs of SIGMOD, VLDB, SoCC, EDBT, and ICDE. 
</p>


<p id="mission">&nbsp;</p>
<h2>Our Mission</h2>
<p align="justify">
  Make diversity and inclusion a first class citizen in our conferences.
  Establish a feedback loop to better understand our standing with respect to all underrepresented groups.
  Ultimately, guide our community to adopt a more inclusive mindset in general toward different individuals regardless of their age, gender, gender identity,
  race, cultural background, religion, physical and mental ability, sexual orientation, parental and marital status, etc. Discourage discriminatory behavior
  during events that cause certain groups to feel unwelcome. This initiative is in collaboration with <a href=http://www.vldb.org/vldb_cares.html>VLDB DBCares</a> 
  following the <a href=https://www.acm.org/about-acm/policy-against-harassment>ACM policy against harassment</a> and processes for reporting unacceptable behavior.
</p>

<p id="actions">&nbsp;</p>
<h2>Our Actions</h2>
<p align="justify">
  <b>COORDINATE</b> This action is in charge of corrdinating between core members. liaisons, and the current year's D&I chairs.<br/>
  <b>REACH OUT</b> This actio is in charge of collecting data and experiences from our community.<br/>
  <b>INCLUDE</b> This action is in charge of monitoring and recommending all inclusion efforts.<br/>
  <b>ORGANIZE</b> This action is in charge of in-conference organization such as code of conduct.<br/>
  <b>INFORM</b> This action is in charge of informing our community.<br/>
  <b>SUPPORT</b> this action if in charge of coordinating D&I support from executive bodies and sponsors.
</p>

<p align="justify">
  We welcome suggestions for events, formats, changes in procedures, outreach and other activities, that promote our goals in enhancing diversity, amplifying
  underrepresented voices, and creating a more inclusive data management community.
</p>

</div>
