<div class="col-sm-12">

<h1>UC San Diego Database Lab</h1>

 <p align="justify">
The Database Lab at UC San Diego is one of the leading academic research groups in the field of
data management, spanning the major themes of theory, systems, languages, interfaces, and applications, 
as well as intersections with other data-oriented fields.
Areas of particular strength include database theory, data integration, semistructured data, heterogeneous
data, hardware-conscious data processing, query processing and optimization, data exploration, data analytics, 
and machine learning systems. 
Application areas of particular interest have included healthcare, Internet of Things, and social media. 
<br><br/>
We are a part of the <a href='https://cse.ucsd.edu/'>Computer Science and Engineering</a> department. 
DB Lab faculty are also affiliated with other research groups, including the 
<a href='https://cstheory.ucsd.edu/home.html'>Theory Group</a>, 
<a href='http://ai.ucsd.edu/'>Artificial Intelligence Group</a>, and 
<a href='https://cns.ucsd.edu/'>Center for Networked Systems</a>, as well as with the 
<a href='https://datascience.ucsd.edu/'>Halicioglu Data Science Institute</a>.
  </p>
</div>
