<div class="col-sm-12">
  <div markdown="1">

<h2>People</h2>

Jump to <a href="/#core_members">Core Members</a>, <a href="#executive_committee">Executive Committee</a>, <a href="#conf_organizers">Members Chairing this Year’s D&I in DM Conferences</a>.

<h4 id="core_members">Core Members</h4>
{% assign number_printed = 0 %}
{% for member in site.data.core_members %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.photo }}" class="img-responsive" width="25%"
   style="float: left; padding-right: 10px; margin-bottom:50px" />
  <h5 style="margin-bottom:-1px"><a href="{{member.web}}">{{ member.name }}</a></h5>
  <p align="justify">{{ member.info }}</p>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}


<h4 id="liaisons">Liaisons</h4>
{% assign number_printed = 0 %}
{% for member in site.data.executive_committee %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.photo }}" class="img-responsive" width="25%"
   style="float: left; padding-right: 10px; margin-bottom:50px" />
  <h5 style="margin-bottom:-1px"><a href="{{member.web}}">{{ member.name }}</a></h5>
  <p align="justify">{{ member.info }}</p>
</div>


{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}


<h4 id="conf_organizers">Members Chairing this Year’s D&I in DM Conferences</h4>
{% assign number_printed = 0 %}
{% for member in site.data.conf_organizers %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/images/people/{{ member.photo }}" class="img-responsive" width="25%"
   style="float: left; padding-right: 10px; margin-bottom:50px" />
  <h5 style="margin-bottom:-1px"><a href="{{member.web}}">{{ member.name }}</a></h5>
  <p align="justify">{{ member.info }}</p>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}


  </div>
</div>
