<div class="col-sm-12">
  <div markdown="1">
    <h1>Research Projects</h1>

<h3>Current Projects</h3>

{% assign number_printed = 0 %}
{% for project in site.data.current_projects %}

{% assign even_odd = number_printed | modulo: 2 %}

{% if even_odd == 0 %}
<div class="row">
{% endif %}

<div class="col-sm-6 clearfix">
  <img src="{{ site.url }}{{ site.baseurl }}/images/projects/{{ project.photo }}" class="img-responsive" width="25%"
   style="float: left; padding-right: 10px; margin-bottom:50px" />
  <h5 style="margin-bottom:-1px"><a href="{{project.web}}">{{ project.name }}</a></h5>
  <p align="justify">{{ project.info }}</p>
</div>

{% assign number_printed = number_printed | plus: 1 %}

{% if even_odd == 1 %}
</div>
{% endif %}

{% endfor %}

{% assign even_odd = number_printed | modulo: 2 %}
{% if even_odd == 1 %}
</div>
{% endif %}


<h3>Past Projects</h3>
<ul>
{% for project in site.data.past_projects %}
<li>
    <a href="{{project.web}}">{{ project.name }}</a>: {{ project.info }}
</li>
{% endfor %}
</ul>
  </div>
</div>
