---
layout: default
---

<div class="row">
  <div id="home" class="col-sm-12">
        {% include home.html %}

  </div>
  <!--div id="twitter" class="col-sm-4" >
	{% include twitter.html %}
  </div-->
</div>

<br>
<div class="row">
  <div id="people" class="col-sm-12" >
	{% include people.html %}
  </div>
</div>

<br>
<div class="row">
  <div id="news" class="col-sm-12" >
	{% include news.html %}
  </div>
</div>


<br>
<div class="row">
  <div id="projects" class="col-sm-12" >
	{% include projects.html %}
  </div>
</div>

<br>
<div class="row">
  <div id="papers" class="col-sm-12" >
	{% include papers.html %}
  </div>
</div>

<br>
<div class="row">
  <div id="courses" class="col-sm-12" >
	{% include courses.html %}
  </div>
</div>

<div class="row">
  <div id="home" class="col-sm-12">
        {% include home2.html %}
</div>
