---
layout: default
---

<div class="row">
  <div id="home" class="col-sm-8">
        <h1>Welcome to UCSD Database Lab</h1>
        {% include home.html %}

  </div>
  <div id="twitter" class="col-sm-4" >
	{% include twitter.html %}
  </div>
</div>

<br><br><br>
<div class="row">
  <div id="news" class="col-sm-12" >
	{% include news.html %}
  </div>
</div>


<br><br>
<div class="row">
  <div id="people" class="col-sm-12" >
	{% include people.html %}
  </div>
</div>

<br><br><br>
<div class="row">
  <div id="projects" class="col-sm-12" >
	{% include projects.html %}
  </div>
</div>

<br><br>
<div class="row">
  <div id="courses" class="col-sm-12" >
	{% include courses.html %}
  </div>
</div>