---
layout: default
---

<div class="row">
  <div id="home" class="col-sm-12">
      {% include home.html %}
  </div>
  <!-- <div id="twitter" class="col-sm-4" >
  	{% include twitter.html %}
  </div> -->
</div>

<div class="row">
  <div id="people" class="col-sm-12" >
  	{% include people.html %}
  </div>
</div>

<div class="row">
  <div id="featured_resources" class="col-sm-12" >
	  {% include featured_resources.html %}
  </div>
</div>

<!--image slider-->
<!-- <div class="row">
  <div id="home" class="col-sm-12">
        {% include image_slider.html %}
</div> -->
